@import url(../css/fonts.css);

html,
body {
  height: 100%;
  font-family: "Work Sans";
  font-weight: 400;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.main_head {
  text-align: center;
  max-width: 786px;
  width: 100%;
  margin: 0 auto 40px;
}

.main_head__title {
  font-size: 36px;
  font-weight: 700;
}

.main_head__title:has(+ .main_head__descr) {
  margin-bottom: 20px;
}

.main_head__descr {
  display: block;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 100px 0;
}

.section.section--img {
  position: relative;
  height: 720px;
}

.section.section--img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 16.58%,
      rgba(255, 255, 255, 0) 72.38%
    ),
    url(../images/herojpg.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.section.section--color_2 {
  background: #f6f8f7;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  padding: 0 30px;
  min-height: 300px;
}

.container__info,
.container__descr {
  padding: 30px 0;
}

.container.container--width_1 {
  max-width: 1100px;
  width: 100%;
}

.container.container--width_2 {
  max-width: 1200px;
  width: 100%;
}

.container.container--width_3 {
  max-width: 680px;
  width: 100%;
}

.text__descr {
  width: 556px;
  height: 168px;
  font-size: 72px;
  font-weight: 600;
  text-align: left;
}

.swiper {
  max-width: 416px;
  height: 190px;
  position: absolute;
}

.swiper-wrapper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  background-color: #3559c7;
  padding: 20px;
}

.navigation {
  display: flex;
  width: 100%;
  background: #292e3d;
  height: 40px;
  align-items: center;
  flex-wrap: nowrap;
}

.swiper-button-next,
.swiper-button-prev {
  /* position: relative; */
  width: 50%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  border-right: 1px solid #fff;
}

.swiper-slide_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 2.3rem;
  text-align: center;
  color: #fff;
}

.swiper-slide_descr {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
