@import url(../css/reset.css);
@import url(../css/fonts.css);
/* ! */
/* ! */
/* ! */
/* ! */
.about__media_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn_white_1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: #2947a9;
  background-color: #fff;
  transition: 0.3s ease;
  border: 1px solid #fff;
}
.btn_white_1:hover, .btn_white_1:focus {
  text-decoration: none;
}
.btn_white_1:hover {
  background-color: #2947a9;
  color: #fff;
}

.btn_white_1 {
  min-width: 23.2rem;
  height: 5.4rem;
  padding: 0 2rem;
  line-height: 5.4rem;
  font-size: 1.6rem;
  border-radius: 2px;
}

.orange_btn_1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  background-color: #F9995D;
  transition: 0.3s ease;
  border: 1px solid #fff;
}
.orange_btn_1:hover, .orange_btn_1:focus {
  text-decoration: none;
}
.orange_btn_1:hover {
  background-color: #fff;
  color: #F9995D;
}

.header {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
}

.header__in {
  min-height: 8rem;
  padding: 0 2rem;
  max-width: 12rem;
  width: 100%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu__list {
  display: flex;
  column-gap: 5rem;
  list-style: none;
  align-items: center;
}

.logo {
  display: flex;
  width: 16rem;
  height: 4.8rem;
  align-items: center;
}

.logo__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo__img_text {
  display: block;
  width: 11rem;
  height: 3.5rem;
  object-fit: contain;
}

.menu__link {
  font-size: 2rem;
  line-height: 3rem;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu__link:hover {
  color: #F9995D;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.section {
  width: 100%;
  padding: 10rem 0;
}
.section.section--padding {
  padding: 6rem 0;
}

.section--color_2 {
  background: #f6f8f7;
}

.container {
  max-width: 126rem;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}
.container.container--width_1 {
  max-width: 108rem;
}
.container.container--width_2 {
  max-width: 100rem;
}
.container.container--width_3 {
  max-width: 60rem;
}

.main_head {
  text-align: center;
  width: 100%;
  margin: 0 auto 4rem;
}

.main_head__title {
  font-size: 3.6rem;
  font-weight: 700;
}

.main_head__title:has(+ .main_head__descr) {
  margin-bottom: 2rem;
}

.main_head__descr {
  display: block;
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;
}

.text__descr {
  width: 5.6rem;
  height: 1.7rem;
  font-size: 7.2rem;
  font-weight: 600;
  text-align: left;
}

.footer {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  min-height: 8rem;
  background-color: #ccc;
}

.footer {
  background-color: #2947a9;
}

.hero {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url(../images/herojpg.jpg) no-repeat center center;
  background-size: cover;
  min-height: 64.4rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  background-attachment: fixed;
}

.hero__in {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5rem;
}

.hero__title {
  max-width: 56rem;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.17;
}

.hero__slider_w {
  display: flex;
  justify-content: flex-end;
}

.hero_slider {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 41.6rem;
  height: 19rem;
  background-color: #3559c7;
  color: #fff;
  border-radius: 0.2rem 0.2rem;
}

.hero_slider__item {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-content: center;
}

.hero_slider__title {
  font-size: 2rem;
}

.hero_slider__descr {
  font-size: 2.4rem;
}

.hero_slider__nav {
  display: flex;
  height: 4rem;
  column-gap: 0.1rem;
  background-color: #fff;
}

.hero_slider__btn {
  width: 50%;
  background-color: #292e3d;
  line-height: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.8rem;
}
.hero_slider__btn:hover span, .hero_slider__btn:active span, .hero_slider__btn:focus span {
  color: #F9995D;
}
.hero_slider__btn:hover span::after, .hero_slider__btn:active span::after, .hero_slider__btn:focus span::after {
  background-color: #F9995D;
}
.hero_slider__btn span {
  position: relative;
  display: block;
  transition: color 0.3s ease-in-out;
}
.hero_slider__btn span::after {
  position: absolute;
  content: "";
  top: 50%;
  translate: 0 -50%;
  transition: background-color 0.3s ease-in-out;
  width: 2.6rem;
  height: 1.8rem;
  mask-image: url("data:image/svg+xml,%3Csvg width='27' height='18' viewBox='0 0 27 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.5 9C26.5 8.74955 26.4022 8.50936 26.228 8.33227C26.0539 8.15518 25.8177 8.05569 25.5715 8.05569L3.6716 8.05569L9.51566 2.11408C9.60198 2.02628 9.67047 1.92205 9.71719 1.80733C9.76391 1.69262 9.78796 1.56967 9.78796 1.4455C9.78796 1.32134 9.76391 1.19839 9.71719 1.08368C9.67047 0.968962 9.60198 0.86473 9.51566 0.776931C9.42933 0.689133 9.32684 0.619488 9.21405 0.571972C9.10125 0.524456 8.98036 0.5 8.85827 0.5C8.73618 0.5 8.61529 0.524456 8.50249 0.571972C8.3897 0.619488 8.28721 0.689133 8.20088 0.776932L0.772785 8.33143C0.686316 8.41914 0.617712 8.52335 0.570903 8.63808C0.524094 8.7528 0.5 8.87579 0.5 9C0.5 9.12421 0.524094 9.2472 0.570903 9.36192C0.617712 9.47665 0.686316 9.58085 0.772785 9.66857L8.20088 17.2231C8.28721 17.3109 8.3897 17.3805 8.50249 17.428C8.61529 17.4755 8.73618 17.5 8.85827 17.5C8.98036 17.5 9.10125 17.4755 9.21405 17.428C9.32684 17.3805 9.42933 17.3109 9.51566 17.2231C9.60198 17.1353 9.67047 17.031 9.71719 16.9163C9.76391 16.8016 9.78795 16.6787 9.78795 16.5545C9.78795 16.4303 9.76391 16.3074 9.71719 16.1927C9.67047 16.078 9.60198 15.9737 9.51566 15.8859L3.6716 9.94431L25.5715 9.94431C25.8177 9.94431 26.0539 9.84482 26.228 9.66773C26.4022 9.49064 26.5 9.25045 26.5 9Z' fill='white'/%3E%3C/svg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #fff;
}
.hero_slider__btn.hero_slider__btn--prev span {
  padding-left: 3.6rem;
}
.hero_slider__btn.hero_slider__btn--prev span::after {
  left: 0;
}
.hero_slider__btn.hero_slider__btn--next span {
  padding-right: 3.6rem;
}
.hero_slider__btn.hero_slider__btn--next span::after {
  right: 0;
  rotate: 180deg;
}

.reputation {
  display: flex;
  margin-bottom: 5rem;
  margin-right: -6.6rem;
}

.reputation__item {
  border: 0.1rem solid #e0e3eb;
  min-height: 20rem;
  padding: 2rem;
}

.reputation__item_w {
  width: 33.3333333333%;
  padding-right: 6.6rem;
}

.reputation__img_w {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin: 0 0 1.8rem;
}

.reputation__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reputation__title {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  font-weight: 700;
}

.reputation__descr {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  color: #858ead;
}

.about {
  display: flex;
  align-items: center;
}

.about__media_w {
  width: 74%;
  border-radius: 2px;
  box-shadow: 0px 8px 8px -4px rgba(17, 24, 39, 0.04), 0px 20px 24px -4px rgba(17, 24, 39, 0.1);
}

.about__media {
  max-width: 100%;
  width: 90rem;
  height: 67rem;
}

.about__info_w {
  width: 40%;
  margin-left: -14%;
}

.about__info {
  display: flex;
  flex-direction: column;
  row-gap: 3.6rem;
  background-color: #2947a9;
  color: #fff;
  min-height: 52.4rem;
  padding: 5rem 4rem 6rem;
  border-radius: 2px;
  box-shadow: 0px 8px 8px -4px rgba(17, 24, 39, 0.04), 0px 20px 24px -4px rgba(17, 24, 39, 0.1);
}

.about__info_title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.16;
}

.about__info_descr {
  font-size: 2rem;
  line-height: 1.16;
  text-align: left;
}
.about__info_descr p {
  margin-bottom: 2.6rem;
}
.about__info_descr p:last-child {
  margin-bottom: 0;
}

.about__info_btn {
  margin-top: auto;
}

.service {
  display: flex;
  flex-wrap: wrap;
  column-gap: 9.8rem;
  row-gap: 5rem;
}

.service__item {
  text-align: center;
  border: 0.1rem solid #e0e3eb;
  width: calc((100% - 19.6rem) / 3);
  min-height: 18.2rem;
  padding: 2rem;
  box-shadow: 0rem 0rem 3.7rem -0.2rem rgba(17, 24, 39, 0.0509803922);
}

.service__item:nth-of-type(even) {
  background-color: #2947a9;
  color: #fff;
}

.service__img_w {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin: 0 auto 1.8rem;
}

.service__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text_decoration {
  margin-bottom: 2rem;
}

.service__title {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  font-weight: 600;
}

.consultation {
  background: url(../images/kitchen.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
}
.consultation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.consultation__in {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 6rem;
}

.consultation__info {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.info__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
}

.info__descr {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.phone__link {
  color: #fff;
}

.consultation__btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  max-width: 24rem;
  height: 5rem;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.6rem 2rem;
  border-radius: 0.2rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;
  cursor: pointer;
}

.consultation__btn:hover {
  background-color: white;
  color: black;
}

.main_title {
  padding: 40px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.23px;
  text-align: left;
}

.tabs__list li {
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.15px;
  text-align: left;
  background-color: rgba(1, 1, 1, 0);
  color: #c2c7d6;
  cursor: pointer;
}

li.active {
  color: #2947a9;
  border-left: 4px solid #2947a9;
  transition: color 0.3s ease-in-out;
  font-size: 24px;
  font-weight: 700;
}

.tabs_box {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  margin-right: -32px;
}

.tabs__content {
  display: flex;
  max-width: 800px;
  width: 100%;
}

.tabs__content_item {
  display: none;
  flex-wrap: wrap;
  align-items: stretch;
}

.tabs__content_item.active {
  display: flex;
  padding-bottom: 6.4rem;
}

.tabs__content_gallery {
  flex: 1 1 50%;
  margin-bottom: 32px;
  padding-right: 32px;
}

.gallery__img_w {
  min-width: 250px;
  position: relative;
  width: 100%;
  height: 247px;
}

.gallery__img_w img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.gallery__descr {
  background-color: #2947a9;
  color: white;
  padding: 12px;
}

.descr__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.46px;
  text-align: left;
}

.descr__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.11px;
  text-align: left;
}

.swiper-w-2 {
  width: 100%;
}

.swiper-navigate {
  width: calc(100% - 32px);
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.swiper-pagination2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-nav__leftbtn,
.swiper-nav__rightbtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 29rem;
  width: 100%;
  background: #292e3d;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
}

.swiper-nav__leftbtn {
  padding-left: 4rem;
}

.swiper-nav__rightbtn {
  padding-right: 4rem;
}

.swiper-nav__leftbtn::after {
  content: "";
  position: absolute;
  background: url("../images/after.png");
  top: 36%;
  left: 9.45rem;
  width: 2.6rem;
  height: 1.7rem;
  transform: rotate(180deg);
  column-gap: 1rem;
}

.swiper-nav__rightbtn::after {
  content: "";
  position: absolute;
  background: url("../images/after.png");
  top: 36%;
  right: 9.45rem;
  width: 2.6rem;
  height: 1.7rem;
  display: flex;
  row-gap: 1rem;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #f6f8f7;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #2947a9;
}

.swiper-slide-2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
}

.swiper2-btn {
  padding: 0;
}

.slide {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background-color: #fff;
  color: #2947a9;
}

.help__form {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem 3.2rem;
  justify-content: space-between;
}

.help__input,
.help__select {
  display: block;
  width: calc((100% - 6.4rem) / 2);
  height: 4rem;
}

.help__textarea {
  display: flex;
  width: 100%;
  height: 14rem;
}

.help__input,
.help__textarea,
.help__select {
  border: 1px solid #e0e3eb;
  font-size: 1.4rem;
  padding: 0.8rem;
}

.help__input::placeholder,
.help__textarea::placeholder {
  font-size: 1.8rem;
  color: #a3aac2;
}

.help__select {
  display: block;
  appearance: none;
  cursor: pointer;
  background: url(../images/dropdown.svg) #fff no-repeat center right 6px;
  font-size: 1.8rem;
  color: #a3aac2;
}

.help__opt {
  color: black;
}

.help__alarm {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.16;
  margin-bottom: 1rem;
}

.help__star {
  color: #ed6565;
  margin-right: 0.5rem;
}

.help__btn {
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 2rem;
  min-width: 27rem;
  height: 5.4rem;
  line-height: 5.4rem;
  background-color: #2947a9;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.help__btn:hover {
  opacity: 0.85;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact__in {
  display: flex;
  justify-content: space-between;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contact__info p {
  font-size: 2rem;
  line-height: 1.16;
}

.contact__info strong {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.16;
  color: #2947a9;
}

.contact__logo {
  display: flex;
  align-items: center;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}

.newsletter label {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.16;
  color: #2947a9;
}

.newsletter__input {
  display: flex;
  margin-top: 5px;
  gap: 1rem;
}

.newsletter__input input {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.16;
  padding: 10px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  min-width: 28rem;
  width: 100%;
}

.orange_btn_1 {
  min-width: 13.6rem;
  height: 4rem;
  padding: 1.6rem 2rem;
  line-height: 2.1rem;
  font-size: 1.8rem;
  border-radius: 4px;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.16;
  color: #2947a9;
}

.social__icons {
  display: flex;
  gap: 2rem;
}

.social__icons a {
  margin-right: 10px;
}

.social__icons img {
  width: 40px;
  height: 40px;
}

.footer {
  padding: 50px 0;
  display: flex;
  align-items: center;
  min-height: 70px;
  background: #2947a9;
}

.footer__in {
  font-size: 1.6rem;
  line-height: 1.16;
  text-align: left;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
