%contain_image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

%cover_image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

%test_bg {
	background-color: tomato;
}

%main_font {
	font-size: 3rem;
	font-weight: 500;
}

@mixin test {
	height: 30rem;
	font-size: 10rem;
	font-weight: 700;
}

@mixin test_2($par_1: height, $par_2: 3rem) {
	#{$par_1}: 30rem;
	font-size: #{$par_2};
	font-weight: 700;
}

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color extends
%transp_btn_1 {
	@include st_btn;

	font-weight: 700;
	color: $color_white;
	background-color: transparent;
	transition: 0.3s ease;
	border: 2px solid $color_white;

	&:hover {
		background-color: $color_white;
		color: $color_black;
	}
}

%white_btn_1 {
	@include st_btn;

	font-weight: 600;
	color: $color_accent;
	background-color: $color_white;
	transition: $transition_dur ease;
	border: 1px solid $color_white;

	&:hover {
		background-color: $color_accent;
		color: $color_white;
	}
}

//size extends
%btn_size_1 {
	min-width: 23.2rem;
	height: 5.4rem;
	padding: 0 2rem;

	line-height: 5.4rem;
	font-size: 1.6rem;

	border-radius: 2px;
}

// %btn_size_2 {
// 	min-width: 13.6rem;
// 	height: 4rem;
// 	padding: 1.6rem 2rem;

// 	line-height: 2.1rem;
// 	font-size: 1.8rem;

// 	border-radius: 4px;
// }


%orange_btn_1 {
	@include st_btn;

	font-weight: 600;
	color:$color_white;
	background-color: #F9995D;
	transition: $transition_dur ease;
	border: 1px solid $color_white;

	&:hover {
		background-color: $color_white;
		color: #F9995D;
	}
}

%blue_btn_1 {
	@include st_btn;

	font-weight: 600;
	color: $color_white;
	background-color: $color_accent;
	transition: $transition_dur ease;
	border: 1px solid $color_accent;

	&:hover {
		background-color: $color_white;
		color: $color_accent;
	}
}

%btn_size_2 {
font-size: 1.8rem;
line-height: 1.16;
text-align: center;
min-width: 17.6rem;
height: 5.4rem;
padding: 1.6rem 2rem;
border-radius: 2px;
}